<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhdarslan.elevenpizza">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pitzoaappicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pitzoaappicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mhdarslan.elevenpizza.PhoneLoginActivity"></activity>
        <activity android:name="com.mhdarslan.elevenpizza.DealsFormActivity" />
        <activity android:name="com.mhdarslan.elevenpizza.StartersFormActivity" />
        <activity android:name="com.mhdarslan.elevenpizza.SettingActivity" />

        <activity
            android:name="com.mhdarslan.elevenpizza.FormActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.mhdarslan.elevenpizza.MainActivity" />

        <activity android:name="com.mhdarslan.elevenpizza.RegisterActivity" />
        <activity android:name="com.mhdarslan.elevenpizza.LoginActivity" />
    </application>

</manifest>